header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  padding-top: 1em;
  background: #172223;
  color: #FAFFFF;
  opacity: .8;
  padding-bottom: 1em;
}

header h1 {
  margin: 0;
}

.icelandic-flag {
  width: 100px;
}

.header-fav-btn {
  color: #2c2c2c;
  cursor: pointer;
  border-radius: 10px;
  height: 50px;
  font-size: 16px;
  background: #85F6BF;
  width: 9em;
  font-weight: 700;
}

.header-fav-btn:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 700px) {
  header h1 {
    font-size: 16px;
  }

  .icelandic-flag {
    width: 57px;
    margin-right: 4px;
  }

  .header-fav-btn {
    width: 6em;
    font-weight: 700;
  }

}

@media only screen and (max-width: 414px) {
  header h1 {
    font-size: 15px;
  }

  .header-fav-btn {
    width: 6em;
    font-weight: 700;
    font-size: 14px;
  } 

  .icelandic-flag {
    height: 33px;
  }

}