header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  padding-top: 1em;
  background: #172223;
  color: #FAFFFF;
  opacity: .8;
  padding-bottom: 1em;
}

header h1 {
  margin: 0;
}
.route1-img {
  width: 100px;
}

.header-fav-btn {
  color: #2c2c2c;
  cursor: pointer;
  border-radius: 10px;
  height: 50px;
  font-size: 16px;
  background: #85F6BF;
  width: 9em;
  font-weight: 700;
}

.header-fav-btn:hover {
  transform: scale(1.1);
}