*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

 html {
   background: url(../assets/aurora2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0 3000px rgba(0, 0, 0, 0.3) inset;
} 
