.subtitle {
  text-align: center;
  color: #FAFFFF;
}

.form-parent {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.selection-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17em;
  background:#2C6472;
  padding-top: 3em;
  border-radius: 8px;
  height: 25em;
  opacity: .88;
}

.region {
  color: #FAFFFF;
  padding-bottom: 7px;
}

select {
  font-size: 16px;
  margin-bottom: 2em;
  width: 60%;
  padding: .5em;
}

form button {
  background: #fff;
  color: #2c2c2c;
  cursor: pointer;
  border-radius: 10px;
  width: 130px;
  height: 50px;
  font-size: 16px;
  
}

/* form button :hover {
  transform: scale(1.1);
} */

.guide-to {
  display: flex;
  margin-bottom: 2em;
  justify-content: center;
  margin-top: 3em;
}

.get-weather-button {
  background:#85F6BF;
  padding-top: .3em;
  margin-top: .8em;
  padding-bottom: .4em;
  font-weight: 700;
}