.DetailsPage {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.weather-details { 
  line-height: 2.5;
}

dd {
  margin-left: 1em;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.category, h4, p {
  margin:0;
}

.current-weather {
  line-height: 1.2;
}

.current-weather-parent {
  background: #fff;
  margin-top: 3em;
  opacity: .7;
  width: 30em;
  height: 32em;
  padding: 3em;
  border-radius: 4px;
}

.star {
  width: 4em;
  height: 4em;
  cursor: pointer;
  background: #85F6BF;
}

.star:hover {
  transform: scale(1.1);
}

.star img {
  width: 100%;
}

.city-header-parent {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description p {
  line-height: 2;
}












